<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>moova</name>
    <displayName><![CDATA[Moova]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This extension allows you to create shippings with Moova']]></description>
    <author><![CDATA[Moova.io]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall  Moova?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>